.head {
  display: flex;
  justify-content: center;
}
.head + h2 {
  text-align: center;
}

.Box {
  display: flex;
}

.textBox {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
  border: 1px solid green;
  border-radius: 20px;
  margin: 10px;
}
